<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>QR Admin</title>
  <link rel="stylesheet" href="/css/style.css">
  
  <!-- Favicon -->
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="icon" href="/favicon.svg" type="image/x-icon">
  <link rel="shortcut icon" href="/favicon.svg">
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#276ef1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
